
header{
    border: 3px;
    padding: 0px;
    margin:10%;
  
    
    
}

body{

    background-size: cover;
    background-image: url(bg5.jpg);
    

}


a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    
}

ul{
    list-style-type: none;
    margin: 0px;
    padding:0px;
    overflow:hidden;
    background-color: rgb(31, 180, 203);
   justify-content: space-evenly;
    left:0;
    margin-bottom: 2%;

    
    
}
.nav_links{
   display:flex;
   border: 3px solid black;
   font-size: large;
   position: fixed;
   width: 100%;
   top: 0;
   padding:1%
   

   
   
}

li a{
    display: flex;
    color:rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    
}

li a:hover{
    color: rgb(255, 53, 53)
}

header{
    display:flex;
    justify-content: space-between;
    font-family:cursive;
    font-size: x-large;
    align-items: center;
    
}
p{
    font-size: 100%;
}