
header{
    border: 3px;
    padding: 0px;
  
    
    
}

body{
    background-size: cover;
    background-color: beige;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 7px;
    
}

ul{
    list-style-type: none;
    margin: 0px;;
    padding:0px;
    overflow:hidden;
    background-color: rgb(135, 88, 88);
   
    align-items: center;

    
    
}
.nav_links{
   display:flex;
   border: 3px solid black;
   font-size: large;

   
   
}

li a{
    display: block;
    color:rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    
}

li a:hover{
    color: rgb(255, 53, 53)
}

header{
    display:flex;
    justify-content: space-between;
    font-family:cursive;
    font-size: x-large;
    align-items: center;
    
}

